@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root {
    /* fonts  */
    --primary-fonts: 'Raleway', sans-serif;
    --secondary-fonts: 'Open Sans', sans-serif;
    --teritary-font: 'PT Sans', sans-serif;

    /* colors  */
    --primary-color: #0e7862;
    --secondary-color: #efefef;
    --light: #ffffff;
    --light-alt: #f4f4f4;
    --dark: #000000;
    --dark-alt: #8b8b8b;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
ol,
span,
b,
i {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondary-fonts);
    letter-spacing: 0.3px;
    overflow-x: hidden;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    outline: none;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}

.heading::before {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    background-color: var(--dark);
    top: 15px;
    left: 300px;
}

.heading::after {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    background-color: var(--dark);
    top: 15px;
    right: 300px;
}